{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}u2bdownload{% endblock %}
{% block head %}
    {{ super() }}
	<meta charset="utf-8">
	<script src="/static/js/pace.min.js"></script>
	<link href="/static/css/pace-theme-minimal-indicator.css" rel="stylesheet">
{% endblock %}

{% block metas %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block body %}
<div class="container">
    <center> <h2 align="center" > u2bDownload </h2> </center>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {{ wtf.quick_form(form) }}
    <br />
    <br />
    {% if name is not none %}
        {{ name }}
        <br />
        <br />
    {% endif %}
    {% if link480 is not none %}
        480p : <input type="text" name="480p" size=45 value={{ link480 }}>
        <br />
        <br />
    {% endif %}
    {% if link720 is not none %}
        720p : <input type="text" name="720p" size=45 value={{ link720 }}>
        <br />
        <br />
        <br />
    {% endif %}
    <a href="https://twitter.com/ash_ishh_?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @ash_ishh_</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
{% endblock %}
